In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Name of the CSV file
file = '../Resources/donors2008_unclean.csv'

In [3]:
# The correct encoding must be used to read the CSV in pandas
df = pd.read_csv(file, encoding="ISO-8859-1")

In [5]:
# Preview of the DataFrame
# Note that FIELD8 is likely a meaningless column
df.head(15)

,LastName,FirstName,Employer,City,State,Zip,Amount,FIELD8
0,Aaron,Eugene,State Department,Dulles,VA,20189,500.0,NaN
1,Abadi,Barbara,Abadi & Co.,New York,NY,10021,200.0,NaN
2,Adamany,Anthony,Retired,Rockford,IL,61103,500.0,NaN
3,Adams,Lorraine,Self,New York,NY,10026,200.0,NaN
4,Adams,Marion,None,Exeter,NH,03833,100.0,NaN
5,Adams,Michelle,Gordon Training,Carlsbad,CA,92009,100.0,NaN
6,Adamson,Nelson,Marquette General Hosp,Iron Mountain,MI,49801,500.0,NaN
7,Adelman,Clifford,Self,Kensington,MD,20895,250.0,NaN
8,Adida,Ben,Harvard University,Mountain View,CA,94043,200.0,NaN
9,Adler,Michael M.,"Adler Group, Inc.",Miami Beach,FL,33172,5000.0,NaN
10,Adler,Susan,None,Chicago,IL,60611,50.0,NaN
11,Aghayan,Alexander,Law Offices Of Alexander Aghayan,White Plains,NY,10601,1000.0,NaN
12,Ahrens,William,The Boeing Co,Burien,WA,98166,100.0,NaN
13,Ahuja,Maria T.,NaN,New York,NY,10021,1000.0,NaN
14,Alcindor,Adele,Self Employed,West Hempstead,NY,11552,250.0,NaN

In [6]:
# Delete extraneous column
del df['FIELD8']
df.head()

  LastName FirstName          Employer      City State    Zip  Amount
0    Aaron    Eugene  State Department    Dulles    VA  20189   500.0
1    Abadi   Barbara       Abadi & Co.  New York    NY  10021   200.0
2  Adamany   Anthony           Retired  Rockford    IL  61103   500.0
3    Adams  Lorraine              Self  New York    NY  10026   200.0
4    Adams    Marion              None    Exeter    NH  03833   100.0

In [7]:
# Identify incomplete rows
df.count()

LastName     1776
FirstName    1776
Employer     1743
City         1776
State        1776
Zip          1776
Amount       1776
dtype: int64

In [8]:
# Drop all rows with missing information
df = df.dropna(how='any')

In [9]:
# Verify dropped rows
df.count()

LastName     1743
FirstName    1743
Employer     1743
City         1743
State        1743
Zip          1743
Amount       1743
dtype: int64

In [10]:
# The Amount column is the wrong data type. It should be numeric.
df.dtypes

LastName      object
FirstName     object
Employer      object
City          object
State         object
Zip           object
Amount       float64
dtype: object

In [13]:
# Use pd.to_numeric() method to convert the datatype of the Amount column
df['Amount'] = pd.to_numeric(df['Amount'])

In [11]:
# Verify that the Amount column datatype has been made numeric
df['Amount'].dtype

dtype('float64')

In [12]:
# Display an overview of the Employers column
df['Employer'].value_counts()

None                                            249
Self                                            241
Retired                                         126
Self Employed                                    39
Self-Employed                                    34
Google                                            6
Unemployed                                        4
Not Employed                                      4
University of California                          3
Bank Of America                                   3
Social Security Administration                    3
Hugo Neu Corporation                              2
University of Washington                          2
Ariel Investments                                 2
Federal Government                                2
State Department                                  2
Quadrangle Group                                  2
Covington & Burling                               2
Harvard University                                2
University of Michigan                            2
University Hospital                               2
Davis Polk & Wardwell                             2
Google, Inc.                                      2
Sidley Austin LLP                                 2
LMI                                               2
ExxonMobil                                        2
Jones Day                                         2
Microsoft                                         2
CSC                                               2
Northern Trust                                    2
                                               ...
Florida State University                          1
Economic Empowerment Initiative, Inc.             1
Commonwealth Of Pennsylvania                      1
Kent State Univ.                                  1
Santa Maria Joint Union High School District      1
Baupost                                           1
Retired UNC-CH                                    1
Kayak Software Corp                               1
Slocum Dickson                                    1
Allegheny Energy, Inc.                            1
Island Style Weddings                             1
Deloitte & Touche LLP                             1
San Jaoquin County                                1
Inland Valley Infectious Disease Med Grp          1
Alston & Bird LLP                                 1
Hussman Econometrics Advisors                     1
New York University                               1
Thornburg Investment Management                   1
Perfect Circle CU                                 1
Paddock Publishing, Inc                           1
St. John & Associates                             1
Binke's Restaurant                                1
Ellis  Hospital                                   1
Lucasfilm Ltd.                                    1
Early McClintic & McMillan, LLP                   1
Save The Children                                 1
Joseph A Williams P.A. Attys At Law               1
Vesbridge Partners, LLC                           1
Neighborworks America                             1
FreeLanceUSA                                      1
Name: Employer, Length: 1011, dtype: int64

In [13]:
# Clean up Employer category. Replace 'Self Employed' and 'Self' with 'Self-Employed'
df['Employer'] = df['Employer'].replace(
    {'Self Employed': 'Self-Employed', 'Self': 'Self-Employed'})

In [20]:
# Verify clean-up.
df['Employer'].value_counts()

Self-Employed                                              314
None                                                       249
Retired                                                    126
Google                                                       6
Not Employed                                                 4
Unemployed                                                   4
University of California                                     3
Social Security Administration                               3
Bank Of America                                              3
Freelance                                                    2
Berger & Montague                                            2
Newton Public Schools                                        2
ExxonMobil                                                   2
Henry Crown & Company                                        2
State Department                                             2
Davis Polk & Wardwell                                        2
Rainey Cluss LLC                                             2
Hugo Neu Corporation                                         2
Sidley Austin LLP                                            2
University of Michigan                                       2
University Of Michigan                                       2
LMI                                                          2
Ariel Investments                                            2
Federal Government                                           2
CSC                                                          2
Northern Trust                                               2
Mayer Brown                                                  2
Microsoft                                                    2
United Health Group                                          2
University Hospital                                          2
                                                          ...
Wendy's International, Inc                                   1
Donati Law Firm                                              1
US Federal Government                                        1
Housing And Community Development Network Of New Jersey      1
DE Shaw & Co.                                                1
UBS                                                          1
Covington & Burling LLP                                      1
Lewis Rice & Fingersh, LC                                    1
The Hairlox Comapny, Llc                                     1
Phillips Gallery                                             1
Community Educational Center                                 1
US Gov't - Federal Aviation Administration                   1
George Washington University                                 1
Akin Gump LLP                                                1
LPAS                                                         1
Puma Springs Vineyards                                       1
Washington Shakespeare Company                               1
Lincolnland Properties                                       1
Caudill Seed                                                 1
Brinker International., Inc                                  1
County of Marin                                              1
Retired UNC-CH                                               1
BVS, Inc.                                                    1
Honeywell International                                      1
Cosolidated Edsion Company Of New York                       1
Michael H. Berman, P.C.                                      1
State Of Michigan                                            1
Weil, Gotshal & Manges, LLP                                  1
Fulcrum Property Group                                       1
Boumatic                                                     1
Name: Employer, Length: 1009, dtype: int64

In [14]:
df['Employer'] = df['Employer'].replace({'Not Employed': 'Unemployed'})
df['Employer'].value_counts()

Self-Employed                                   314
None                                            249
Retired                                         126
Unemployed                                        8
Google                                            6
Social Security Administration                    3
Bank Of America                                   3
University of California                          3
ExxonMobil                                        2
Davis Polk & Wardwell                             2
University Hospital                               2
LMI                                               2
Microsoft                                         2
University of Michigan                            2
Covington & Burling                               2
Harvard University                                2
State Department                                  2
Google, Inc.                                      2
Freelance                                         2
Henry Crown & Company                             2
University Of Michigan                            2
Quadrangle Group                                  2
CSC                                               2
Hugo Neu Corporation                              2
University of Washington                          2
Mayer Brown LLP                                   2
Rainey Cluss LLC                                  2
Berger & Montague                                 2
Sidley Austin LLP                                 2
Jones Day                                         2
                                               ...
New York University                               1
Neighborworks America                             1
Inland Valley Infectious Disease Med Grp          1
Lerch Construction                                1
Kehr Kirby                                        1
Kent State Univ.                                  1
Santa Maria Joint Union High School District      1
Baupost                                           1
Retired UNC-CH                                    1
Kayak Software Corp                               1
Slocum Dickson                                    1
Allegheny Energy, Inc.                            1
Island Style Weddings                             1
Deloitte & Touche LLP                             1
San Jaoquin County                                1
Alston & Bird LLP                                 1
Vesbridge Partners, LLC                           1
Commonwealth Of Pennsylvania                      1
Hussman Econometrics Advisors                     1
Thornburg Investment Management                   1
Perfect Circle CU                                 1
Paddock Publishing, Inc                           1
St. John & Associates                             1
Binke's Restaurant                                1
Ellis  Hospital                                   1
Lucasfilm Ltd.                                    1
Early McClintic & McMillan, LLP                   1
Save The Children                                 1
Joseph A Williams P.A. Attys At Law               1
FreeLanceUSA                                      1
Name: Employer, Length: 1008, dtype: int64

In [15]:
# Display a statistical overview
# We can infer the maximum allowable individual contribution from 'max'
df.describe()

            Amount
count  1743.000000
mean    640.124750
std    1242.343265
min       5.000000
25%     200.000000
50%     250.000000
75%     500.000000
max    5000.000000