In [12]:
# Import Dependencies
import pandas as pd

In [13]:
# Reference the file where the CSV is located
csvfile = '../Resources/crime_incident_data2017.csv'

# Import the data into a Pandas DataFrame
df = pd.read_csv(csvfile)

In [14]:
# look for missing values
df.count()

Address              37365
Case Number          41032
Crime Against        41032
Neighborhood         39712
Number of Records    41032
Occur Date           41032
Occur Month Year     41032
Occur Time           41032
Offense Category     41032
Offense Count        41032
Offense Type         41032
Open Data Lat        36712
Open Data Lon        36712
Open Data X          36712
Open Data Y          36712
Report Date          41032
Report Month Year    41032
dtype: int64

In [15]:
# drop null rows
df2 = df.dropna(how='any')

In [16]:
# verify counts
df2.count()

Address              36146
Case Number          36146
Crime Against        36146
Neighborhood         36146
Number of Records    36146
Occur Date           36146
Occur Month Year     36146
Occur Time           36146
Offense Category     36146
Offense Count        36146
Offense Type         36146
Open Data Lat        36146
Open Data Lon        36146
Open Data X          36146
Open Data Y          36146
Report Date          36146
Report Month Year    36146
dtype: int64

In [6]:
# Check to see if there are any values with mispelled or similar values in "Offense Type"
df['Offense Type'].unique()

array(['Rape', 'Identity Theft',
       'False Pretenses/Swindle/Confidence Game', 'All Other Larceny',
       'Credit Card/ATM Fraud', 'Embezzlement', 'Shoplifting',
       'Theft From Motor Vehicle', 'Motor Vehicle Theft', 'Burglary',
       'Theft of Motor Vehicle Parts or Accessories',
       'Counterfeiting/Forgery', 'Intimidation', 'Vandalism',
       'Statutory Rape', 'Simple Assault', 'Theft From Building',
       'Robbery', 'Fondling', 'Aggravated Assault',
       'Theft From Coin-Operated Machine or Device',
       'Sexual Assault With An Object', 'Hacking/Computer Invasion',
       'Drug/Narcotic Violations', 'Pocket-Picking',
       'Stolen Property Offenses', 'Weapons Law Violations',
       'Purse-Snatching', 'Arson', 'Extortion/Blackmail', 'Sodomy',
       'Prostitution', 'Kidnapping/Abduction',
       'Drug Equipment Violations', 'Wire Fraud', 'Involuntary Servitude',
       'Pornography/Obscene Material', 'Commercial Sex Acts',
       'Assisting or Promoting Prostitution', 'Impersonation',
       'Murder and Non-negligent Manslaughter', 'Animal Cruelty',
       'Incest', 'Welfare Fraud'], dtype=object)

In [8]:
# Combine similar offenses
df2 = df2.replace({'Drug/Narcotic Violations': 'Drug Violations', 'Drug Equipment Violations': 'Drug Violations'})
df2['Offense Type'].unique()

array(['False Pretenses/Swindle/Confidence Game', 'Identity Theft',
       'Credit Card/ATM Fraud', 'Embezzlement', 'Shoplifting',
       'All Other Larceny', 'Theft From Motor Vehicle',
       'Motor Vehicle Theft', 'Burglary',
       'Theft of Motor Vehicle Parts or Accessories',
       'Counterfeiting/Forgery', 'Vandalism', 'Theft From Building',
       'Robbery', 'Aggravated Assault',
       'Theft From Coin-Operated Machine or Device', 'Intimidation',
       'Simple Assault', 'Hacking/Computer Invasion', 'Drug Violations',
       'Pocket-Picking', 'Stolen Property Offenses',
       'Weapons Law Violations', 'Purse-Snatching', 'Arson',
       'Extortion/Blackmail', 'Prostitution', 'Kidnapping/Abduction',
       'Pornography/Obscene Material', 'Wire Fraud', 'Impersonation',
       'Assisting or Promoting Prostitution', 'Commercial Sex Acts',
       'Animal Cruelty', 'Welfare Fraud'], dtype=object)

In [9]:
# Check to see if you comnbined similar offenses correctly in "Offense Type".
df2.head()

,Address,Case Number,Crime Against,Neighborhood,Number of Records,Occur Date,Occur Month Year,Occur Time,Offense Category,Offense Count,Offense Type,Open Data Lat,Open Data Lon,Open Data X,Open Data Y,Report Date,Report Month Year
2,200 BLOCK OF SE 78TH AVE,17-900367,Property,Montavilla,1,12/1/03,12/1/03,800,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,45.5207,-122.583,7668150.0,682825.0,1/9/17,1/1/17
5,5400 BLOCK OF NE MALLORY AVE,17-900129,Property,King,1,11/28/10,11/1/10,1612,Fraud Offenses,1,Identity Theft,45.5625,-122.664,7647987.0,698581.0,1/3/17,1/1/17
6,5000 BLOCK OF NE 19TH AVE,17-901079,Property,Vernon,1,11/8/13,11/1/13,1200,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,45.5594,-122.646,7652567.0,697337.0,1/26/17,1/1/17
7,5000 BLOCK OF NE 19TH AVE,17-901079,Property,Vernon,1,11/8/13,11/1/13,1200,Fraud Offenses,1,Identity Theft,45.5594,-122.646,7652567.0,697337.0,1/26/17,1/1/17
8,12000 BLOCK OF SE PINE ST,17-900253,Property,Hazelwood,1,1/6/14,1/1/14,805,Fraud Offenses,1,Credit Card/ATM Fraud,45.5204,-122.539,7679522.0,682404.0,1/6/17,1/1/17

In [11]:
# Create a new DataFrame that looks into a specific neighborhood
df3 = df2.loc[df2['Neighborhood'] == 'Hazelwood', :]
df3.head()

,Address,Case Number,Crime Against,Neighborhood,Number of Records,Occur Date,Occur Month Year,Occur Time,Offense Category,Offense Count,Offense Type,Open Data Lat,Open Data Lon,Open Data X,Open Data Y,Report Date,Report Month Year
8,12000 BLOCK OF SE PINE ST,17-900253,Property,Hazelwood,1,1/6/14,1/1/14,805,Fraud Offenses,1,Credit Card/ATM Fraud,45.5204,-122.539,7679522.0,682404.0,1/6/17,1/1/17
9,12000 BLOCK OF SE PINE ST,17-900253,Property,Hazelwood,1,1/6/14,1/1/14,805,Fraud Offenses,1,Identity Theft,45.5204,-122.539,7679522.0,682404.0,1/6/17,1/1/17
56,10300 BLOCK OF E BURNSIDE ST,17-12585,Property,Hazelwood,1,6/29/16,6/1/16,900,Larceny Offenses,1,All Other Larceny,45.5228,-122.557,7675002.0,683398.0,1/13/17,1/1/17
97,10100 BLOCK OF SE WASHINGTON ST,17-16973,Property,Hazelwood,1,10/6/16,10/1/16,800,Larceny Offenses,1,Shoplifting,45.5183,-122.559,7674423.0,681781.0,1/18/17,1/1/17
141,13800 BLOCK OF SE CARUTHERS CT,17-24538,Property,Hazelwood,1,11/20/16,11/1/16,1200,Motor Vehicle Theft,2,Motor Vehicle Theft,45.5050,-122.521,7683971.0,676699.0,1/25/17,1/1/17