In [2]:
# Import Dependencies
import pandas as pd

In [3]:
# DataFrame should have 3 columns: Frame, Price, and Sales AND 5 rows of data
dataframe = pd.DataFrame({
    "Frame": ['Ornate', "C", 'M', 'W'],
    "Price": [1,2,3,45],
    "Sales": [100,200,3400,400]
})

dataframe

    Frame  Price  Sales
0  Ornate      1    100
1       C      2    200
2       M      3   3400
3       W     45    400

In [3]:
# Use a different method of creating DataFrames to
# Create a DataFrame for an art gallery that contains three columns - "Painting", "Price", and "Popularity"
# and has 4 rows of data

               Painting    Popularity  Price
0  Mona Lisa (Knockoff)  Very Popular     25
1   Van Gogh (Knockoff)       Popular     20
2       Starving Artist       Average     10
3       Toddler Drawing   Not Popular      1